.fullscreen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #001F54;
    text-align: center;
    overflow: hidden;
}

.fullscreen img{
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
}

.learn_more{
    background-color: #001F54;
    border-radius: 5px;
    width: 110px;
    height: 42px;
}

button a{
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}

.learn_more:hover{
    background-color: #a6c1ee;
    border: none;
    width: 110px;
    height: 42px;
}

.learn_more:hover a{
    color: black;
}